img {
    max-width: 100%;
  }

  .container-detail {
      display: block;
      padding: 1rem;
  }

  .format-price-name {
      display: flex;
      justify-content: center;
      
      margin: 0;
      grid-template-columns: 2fr minmax(120px, 1fr);
  }

  .format-card{
    display: flex;
    font-weight: bolder;
    justify-content: center;
    grid-template-columns: 2fr minmax(120px, 1fr);
  }

  .format-card-title {
    display: flex;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 28px;
    margin-bottom: 10px;
  }



  .format-card-subtitle{
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .format-card-price { 
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bolder;
  }

  .format-card-button {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    border-style: solid;
    font-weight: 900;
    padding: 10px 25px 10px 25px;
    border-color: black; 
  }

  .format-back {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    border-style: solid;
    font-weight: 900;
    padding: 10px 25px 10px 25px;
    border-color: black; 
  }

  .show-mobile {
    display: block;
    box-shadow: 0px 2px 5px rgb(black, .2);
  }
  .side-menu { // Lateral Menu
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-weight: bolder;
    text-decoration: none;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(-100%);
    transition: all ease-out .5s;
    &.active {
      transform: translateX(0);
    }
  }