img {
    max-width: 100%;
  }

  .container-detail {
      display: grid-template-columns;
      padding: 1rem;
  }

  .format-price-name {
      display: flex;
      justify-content: center;
      
      margin: 0;
      grid-template-columns: 2fr minmax(120px, 1fr);
  }

  .format-card{
    display: flex;
    font-weight: bolder;
    justify-content: center;
    grid-template-columns: 2fr minmax(120px, 1fr);
  }

  .format-card-title {
    display: flex;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 28px;
    margin-bottom: 10px;
  }

  .format-card-subtitle{
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .format-card-price { 
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bolder;
  }

  .format-card-button {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    border-style: solid;
    font-weight: 900;
    padding: 10px 25px 10px 25px;
    border-color: black; 
  }

  .format-back {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    border-style: solid;
    font-weight: 900;
    padding: 10px 25px 10px 25px;
    border-color: black; 
  }

  .show-mobile {
    display: block;
    box-shadow: 0px 2px 5px rgb(black, .2);
  
  }
  .side-menu { // Lateral Menu
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    font-weight: bolder;
    text-decoration: none;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(-100%);
    transition: all ease-out .5s;
    &.active {
      transform: translateX(0);
    }
  }

  .side-menu-preorden {
    display: grid;
    grid-template-columns: 125px 100px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    place-content: center;
    height: 370px;
    width: 343px;
    grid-template-areas: 
        "header header header"
        "main1 main4 buttom1"
        "main2 main5 buttom2"
        "main3 main6 buttom3";
  }

  .format-title {
    grid-area: header;
    font-size: 18px;
    color: green;
    padding-top: 10px;
    font-weight: bolder;
    align-items: center;
  }

  .format-pack1 {
    grid-area: main1;
    font-size: 1.2rem;
    font-weight: bolder;
    align-items: center;
    align-self: center;
  }
  
  .format-pack2 {
    grid-area: main2;
    font-size: 1.2rem;
    font-weight: bolder;
    align-items: center;
    align-self: center;
  }

  .format-pack3 {
    grid-area: main3;
    font-size: 1.2rem;
    font-weight: bolder;
    align-items: center;
    align-self: center;
  }

  .format-precio4 {
    grid-area: main4;
    font-size: 1.2rem;
    font-weight: bolder;
    align-items: center;
    justify-self: center;
    align-self: center;
  }

  .format-precio5 {
    grid-area: main5;
    font-size: 1.2rem;
    font-weight: bolder;
    align-items: center;
    justify-self: center;
    align-self: center;
  }

  .format-precio6 {
    grid-area: main6;
    font-size: 1.2rem;
    font-weight: bolder;
    align-items: center;
    justify-self: center;
    align-self: center;
  }

  .format-opcion {
    display: flex;
  }

  .format-card-button1 {
    margin-left: 10px;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    border-color: black; 
  }

  .format-card-button2 {
    margin-left: 10px;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    border: 2px solid black;
    padding: 10px 40px 10px 40px;
    border-color: black; 
  }

  .format-button {
    background-color: #ACD9B2;
    border-radius: 5px;
    border: none;
    color: var((white));
    align-items: center;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    height: 50px;
    border-color: #ACD9B2;
  }

  .add-to-cart {
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
  }

