

<div class="container-detail">
    <h1 class="format-card-title">{{ product.title }}</h1>
    <img [src]="product.image" alt="" (click)="togglePreorden()">
    
    <div class="format-price-name">
        <p class="format-card-price">{{ product.price | currency }}</p>
        <!-- <button class="format-card-button">AGREGAR</button>        -->
        <button class="format-card-button" (click)="togglePreorden()">AGREGAR</button>
    </div>
    
    <header class="format-card"> 
      <h2 class="format-card-subtitle">{{ product.name }}</h2>   
    </header>
    <button class="format-back" (click)="back()">Volver</button>
    
    
    

    <!-- Show Menu-->
    <div class="show-mobile" [class.active]="activePreorden">
        <div class="side-menu" [class.active]="activePreorden">
            <button class="side-button" (click)="togglePreorden()">Detalle del pedido</button>
            <section class="side-menu-preorden">
                <p class="format-title">Cuál presentación deseas añadir a tu carrito</p>
                        <h1  class="format-pack1">Caja de 4 ud</h1>
                        <h1  class="format-pack2">Caja de 6 ud</h1>
                        <h1  class="format-pack3">Caja de 10 ud</h1>
                        <h1  class="format-precio4">$12.900</h1>
                        <h1  class="format-precio5">$16.500</h1>
                        <h1  class="format-precio6">$21.600</h1>
                        <button class="format-button add-to-cart">
                            <img src="./assets/svg/icon_shopping_cart.svg" alt="adicionar">
                        </button>
                        <button class="format-button add-to-cart">
                            <img src="./assets/svg/icon_shopping_cart.svg" alt="adicionar">
                        </button>   
                        <button class="format-button add-to-cart">
                            <img src="./assets/svg/icon_shopping_cart.svg" alt="adicionar">
                        </button>
            </section>
            <div class="format-opcion">
                <button routerLink="/menu" class="format-card-button1">Seguir comprando</button>
                <button routerLink="/checkout" class="format-card-button2">Ir a pagar</button>
            </div>
        </div>
    </div>
         


    
