

<div class="container-detail">
    <h1 class="format-card-title">{{ product.title }}</h1>
    <img [src]="product.image" alt="">
    
    <div class="format-price-name">
        <p class="format-card-price">{{ product.price | currency }}</p>
        <!-- <button class="format-card-button">AGREGAR</button>        -->
        <button class="format-card-button" (click)="onAddToCart()">AGREGAR</button>
    </div>
    
    <header class="format-card"> 
      <p class="format-card-subtitle">{{ product.name }}</p>
    </header>

    


    
