<a [routerLink]="['/product', product.id]">
    <div class="format-image-butto">
        <app-img [img]="product.image"></app-img>
        <!-- <button class="format-card-button">AGREGAR</button>   -->
    </div>   
</a>
 


<!-- <button class="format-card-button" (click)="onShowDetail()">VER DETALLE</button> -->
    
<header class="format-card-ppal">
    <button class="format-card-button" (click)="onAddToCart()">AGREGAR</button>        
    <h1 class="format-card-title"> {{ product.title }} </h1>
    <h1 class="format-card-price"> {{ product.price | currency }}</h1>    
    <p class="format-card-subtitle">{{ product.name }}</p>
 </header>

 