p, h2 {
    margin: 0;
  }

  .format-card-ppal {
    display: grid;
    grid-template-columns: 120px 130px;
    grid-template-rows: 50px 40px 60px;
    place-content: center;
    grid-template-areas: 
        "header header"
        "main0 main1"
        "main2 main2"
  }

  .format-card-button {
    grid-area: header;
    justify-content: center;
    height: 80%;
    width: 100%;
    border-radius: 7px;
    background-color: white;
    border-style: solid;
    font-weight: 900;
    border-color: black;
  }

  .format-card-title {
    grid-area: main0;
    font-weight: bolder;
    align-items: center;
  }

  .format-card-price { 
    grid-area: main1;
    font-weight: bolder;
    height: 100vh;
    font-size: 18px;
    align-content: end;
    justify-content: end;
  }

  .format-card-subtitle{
    grid-area: main2;
    font-size: 14px;
    align-items: center;
    
  }


  