    <div class="ordentotal">
        <div class="detalle">
            <p>Producto</p>
            <p>Cantidad</p>
            <p>Valor</p>
            <p>item 1</p>
            <p>item 2</p>
            <p>item 3</p>
            <p>Cant 1</p>
            <p>Cant 2</p>
            <p>Cant 3</p>
            <p>Valor 1</p>
            <p>Valor 2</p>
            <p>Valor 3</p>
        </div>
        <div class="encabezado">
            <p class="title">Valor envio</p>
            <p class="title">Valor total</p>
            <p>000</p>
            <p>$12000</p>
        </div>
    </div>

    <hr size=1 color="#555555">

    <div class="entrega">
        <!-- <div class="conta-wraper">
            <p>Datos para entregar</p>
        </div>  -->
        <form (ngSubmit)="onRegister()" #myForm="ngForm" class="entrega">
            <p>        
                <label>Nombre</label>
                <input type="text" name="nombre" required id="nombre" [(ngModel)]="register.nombre" />    
            </p>
            <p>          
                <label>Apellido</label>
                <input type="text" name="apellido" 
                required id="apellido" [(ngModel)]="register.apellido" />
            </p>
            <p class="block">
                <label>Dirección</label>
                <input type="text" name="dieccion" 
                required id="contacto" [(ngModel)]="register.direccion" />          
            </p>       
            <p class="block">
                <label>Número celular</label>
                <input type="text" name="contacto" 
                required id="contacto" [(ngModel)]="register.contacto" />          
            </p>       
            <p class="block">
                <label>Correo</label>
                <input type="email" name="email" 
            required id="email" [(ngModel)]="register.email" />
            </p>
            <p class="block">
                <button [disabled]="myForm.invalid" type="submit" class="send">FINALIZAR</button>
            </p>
        </form>
    </div>

    <hr size=1 color="#555555">
    <section class="recomendation">
        <p class="r-pay">Temporalmente nuestros pagos se realizan con efectivo y/o datafono</p>
        <p class="r-observation">¿Algún comentario?</p>
        <p><textarea class="text-area" name="comentario"></textarea></p>
    </section>

    
