// parte del segund ejericio

.ordentotal > * {
    padding: 2em;
}

.detalle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
}

.ordentotal p {
    display: block;
    padding-block: 2px;
}

.encabezado {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
}
// fin de orden

.entrega > * {
    padding: 1em;
}

.entrega form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
}

.entrega form label {
    display: block;
}

.entrega form p {
    margin: 0;
    padding: 1em;
}

.entrega form .block {
    grid-column: 1 / 3;
}
 
 .entrega form button,
 .entrega form input {
    width: 100%;
    padding: .7em; 
 }

.send {
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bolder;
}


.recomendation {
    display: grid;
    place-content: center;
    height: 50%;
    gap: 10px;
    grid-template-columns: 230px;
    grid-auto-rows: 40px;
    grid-template-areas: 
    "rec1"
    "rec2"
    "rec3"
    "rec4";
}

.r-pay {
    grid-area: rec1;
    align-self: center;
    font-size: 14px;
}

.r-observation {
    grid-area: rec2;
    align-self: center;
    font-size: 14px;
    font-weight: bolder;
    align-self: start;
}

.text-area {
    grid-area: rec3;
    font-size: 14px;
    width: 100%;
    height: 120%;
    
    
}

