
    <div class="resumen">
        <p class="title-ppal">Resumen del pedido</p>
        <button class="botton-back">Volver</button>
        <p class="text-find">Para finalizar la orden se debe diligenciar la siguiente información</p>
    </div>
    
    <hr size=1 color="#555555">
    <div class="resumen2">
        <p class="item0">Resumen de tu compra</p> 
        <p class="item1">item 1</p>
        <p class="item2">item 2</p>
        <p class="item3">item n</p>
        <p class="quanty1">1</p>
        <p class="quanty2">1</p>
        <p class="quanty3">1</p>
        <p class="value1">$13.600</p>
        <p class="value2">$13.600</p>
        <p class="value3">$13.600</p>
    </div>
    <div class="total">
        <p class="total1">Total orden</p>
            <p class="subtotal2">Valor envío</p>
            <p class="subtotal3">Valor total</p>
            <p class="subtotal4">$0</p>
            <p class="subtotal5">$12.900</p>
     </div>
    <hr size=1 color="#555555">

    <div class="entrega">
<!--        <div class="conta-wraper">
            <p>Datos para entregar</p>
        </div> -->
        <form (ngSubmit)="onRegister()" #myForm="ngForm" class="entrega">
            <p>        
                <label>Nombre</label>
                <input type="text" name="nombre" required id="nombre" [(ngModel)]="register.nombre" />    
            </p>
            <p>          
                <label>Apellido</label>
                <input type="text" name="apellido" 
                required id="apellido" [(ngModel)]="register.apellido" />
            </p>
            <p class="block">
                <label>Número celular</label>
                <input type="text" name="contacto" 
                required id="contacto" [(ngModel)]="register.contacto" />          
            </p>       
            <p class="block">
                <label>Correo</label>
                <input type="email" name="email" 
            required id="email" [(ngModel)]="register.email" />
            </p>
            <p class="block">
                <button [disabled]="myForm.invalid" type="submit" class="send">FINALIZAR</button>
            </p>
        </form>
    </div>

    <hr size=1 color="#555555">
    <section class="recomendation">
        <p class="r-pay">Temporalmente nuestros pagos se realizan con efectivo y/o datafono</p>
        <p class="r-observation">¿Algún comentario?</p>
        <p><textarea class="text-area" name="comentario"></textarea></p>
    </section>

    
