
    <div class="resumen">
        <p class="title-ppal">Resumen del pedido</p>
        <button class="botton-back">Volver</button>
        <p class="text-find">Para finalizar la orden se debe diligenciar la siguiente información</p>
    </div>
    
    
    <div class="resumen2">
        <p class="item0">Resumen de tu compra</p> 
        <p class="item1">item 1</p>
        <p class="item2">item 2</p>
        <p class="item3">item n</p>
        <p class="quanty1">1</p>
        <p class="quanty2">1</p>
        <p class="quanty3">1</p>
        <p class="value1">$13.600</p>
        <p class="value2">$13.600</p>
        <p class="value3">$13.600</p>
    </div>
    <div class="total">
        <p class="total1">Total orden</p>
            <p class="subtotal2">Valor envío</p>
            <p class="subtotal3">Valor total</p>
            <p class="subtotal4">$0</p>
            <p class="subtotal5">$12.900</p>
     </div>

    <section class="entrega">
        <p class="datos-entrega">Datos para entregar</p>
        <label class="label1">Nombre</label>
        <input class="input1" type="text" placeholder="mi nombre" />
        <label class="label2">Apellido</label>
        <input class="input2" type="text" placeholder="mis apellidos"/>
        <label class="label3">Número celular</label>
        <input class="input3" type="text" placeholder="399 9999999" />
        <label class="label4">correo</label>
        <input class="input4" type="text" placeholder="correo@dominio.com"/>
    </section>

    <section class="recomendation">
        <p class="r-pay">Tempralmente nestros pagos se realizan con efectivo y/o datafono</p>
        <p class="r-observation">¿Deseas compartir algún comentario u observación para la entrega?</p>
        <input class="text-area" type="text-area" />
    </section>